--
-- PostgreSQL database dump
--

\restrict Y4YcHsYfp5qAGebO8zfhQUaPcLzwBZfEwplbzzJW3beY57m351ajkx4KPVIcrxl

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ChatType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ChatType" AS ENUM (
    'GENERAL',
    'PRIVATE',
    'CLASS'
);


ALTER TYPE public."ChatType" OWNER TO postgres;

--
-- Name: EventScope; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EventScope" AS ENUM (
    'ALL',
    'DEPARTMENT',
    'FRIENDS',
    'CUSTOM'
);


ALTER TYPE public."EventScope" OWNER TO postgres;

--
-- Name: FriendStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."FriendStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'REJECTED'
);


ALTER TYPE public."FriendStatus" OWNER TO postgres;

--
-- Name: RSVPStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RSVPStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'DECLINED'
);


ALTER TYPE public."RSVPStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: BoardPost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BoardPost" (
    id text NOT NULL,
    "authorId" text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."BoardPost" OWNER TO postgres;

--
-- Name: CanteenComment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CanteenComment" (
    id text NOT NULL,
    text text NOT NULL,
    "userId" text NOT NULL,
    "menuId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CanteenComment" OWNER TO postgres;

--
-- Name: CanteenMenu; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CanteenMenu" (
    id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "mainDish" text NOT NULL,
    "sideDish" text,
    veggies text,
    dessert text,
    "priceStudent" numeric(5,2),
    "hoursStart" text,
    "hoursEnd" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CanteenMenu" OWNER TO postgres;

--
-- Name: CanteenPost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CanteenPost" (
    id text NOT NULL,
    "authorId" text NOT NULL,
    caption text,
    "photoPath" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CanteenPost" OWNER TO postgres;

--
-- Name: CanteenRating; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CanteenRating" (
    id text NOT NULL,
    score integer NOT NULL,
    "userId" text NOT NULL,
    "menuId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CanteenRating" OWNER TO postgres;

--
-- Name: Chat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Chat" (
    id text NOT NULL,
    type public."ChatType" NOT NULL,
    "classId" text
);


ALTER TABLE public."Chat" OWNER TO postgres;

--
-- Name: ChatParticipant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ChatParticipant" (
    id text NOT NULL,
    "chatId" text NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public."ChatParticipant" OWNER TO postgres;

--
-- Name: ClassGroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ClassGroup" (
    id text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."ClassGroup" OWNER TO postgres;

--
-- Name: Event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Event" (
    id text NOT NULL,
    "creatorId" text NOT NULL,
    title text NOT NULL,
    description text,
    date timestamp(3) without time zone NOT NULL,
    location text,
    lat double precision,
    lng double precision,
    scope public."EventScope" NOT NULL
);


ALTER TABLE public."Event" OWNER TO postgres;

--
-- Name: EventInvite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EventInvite" (
    id text NOT NULL,
    "eventId" text NOT NULL,
    "userId" text NOT NULL,
    status public."RSVPStatus" DEFAULT 'PENDING'::public."RSVPStatus" NOT NULL,
    "invitedBy" text
);


ALTER TABLE public."EventInvite" OWNER TO postgres;

--
-- Name: FriendRequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FriendRequest" (
    id text NOT NULL,
    "requesterId" text NOT NULL,
    "addresseeId" text NOT NULL,
    status public."FriendStatus" DEFAULT 'PENDING'::public."FriendStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."FriendRequest" OWNER TO postgres;

--
-- Name: LostFoundItem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LostFoundItem" (
    id text NOT NULL,
    "posterId" text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    "photoPath" text,
    "foundLat" double precision,
    "foundLng" double precision,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LostFoundItem" OWNER TO postgres;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id text NOT NULL,
    "chatId" text NOT NULL,
    "senderId" text NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: RideShare; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RideShare" (
    id text NOT NULL,
    "posterId" text NOT NULL,
    "from" text NOT NULL,
    "to" text NOT NULL,
    "departAt" timestamp(3) without time zone NOT NULL,
    seats integer NOT NULL,
    note text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."RideShare" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    email text NOT NULL,
    username text NOT NULL,
    "passwordHash" text NOT NULL,
    "displayName" text,
    "avatarUrl" text,
    department text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserClass; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserClass" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "classGroupId" text NOT NULL
);


ALTER TABLE public."UserClass" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: BoardPost; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BoardPost" (id, "authorId", title, body, "createdAt") FROM stdin;
\.


--
-- Data for Name: CanteenComment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CanteenComment" (id, text, "userId", "menuId", "createdAt") FROM stdin;
\.


--
-- Data for Name: CanteenMenu; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CanteenMenu" (id, date, "mainDish", "sideDish", veggies, dessert, "priceStudent", "hoursStart", "hoursEnd", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CanteenPost; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CanteenPost" (id, "authorId", caption, "photoPath", "createdAt") FROM stdin;
\.


--
-- Data for Name: CanteenRating; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CanteenRating" (id, score, "userId", "menuId", "createdAt") FROM stdin;
\.


--
-- Data for Name: Chat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Chat" (id, type, "classId") FROM stdin;
GENERAL_SINGLETON	GENERAL	\N
CLASS_cmhvv03g90002mg0tsubx3uol	CLASS	cmhvv03g90002mg0tsubx3uol
CLASS_cmhvvke2r000cmg0t8thoehec	CLASS	cmhvvke2r000cmg0t8thoehec
\.


--
-- Data for Name: ChatParticipant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ChatParticipant" (id, "chatId", "userId") FROM stdin;
cmhvv03ip0005mg0t02ayiiha	GENERAL_SINGLETON	cmhvv03fz0000mg0tbc7tjpsg
cmhvv03j40007mg0t369ssqfo	CLASS_cmhvv03g90002mg0tsubx3uol	cmhvv03fz0000mg0tbc7tjpsg
cmhvvke3k000fmg0tyo1rtuvn	GENERAL_SINGLETON	cmhvvke2k000amg0temozluwd
cmhvvke47000hmg0tyr30qgox	CLASS_cmhvvke2r000cmg0t8thoehec	cmhvvke2k000amg0temozluwd
\.


--
-- Data for Name: ClassGroup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ClassGroup" (id, name) FROM stdin;
cmhvv03g90002mg0tsubx3uol	CS-3├¿me ann├®e
cmhvvke2r000cmg0t8thoehec	GCCD-1├¿re ann├®e
\.


--
-- Data for Name: Event; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Event" (id, "creatorId", title, description, date, location, lat, lng, scope) FROM stdin;
\.


--
-- Data for Name: EventInvite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EventInvite" (id, "eventId", "userId", status, "invitedBy") FROM stdin;
\.


--
-- Data for Name: FriendRequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."FriendRequest" (id, "requesterId", "addresseeId", status, "createdAt") FROM stdin;
\.


--
-- Data for Name: LostFoundItem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LostFoundItem" (id, "posterId", title, description, "photoPath", "foundLat", "foundLng", "createdAt") FROM stdin;
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Message" (id, "chatId", "senderId", content, "createdAt") FROM stdin;
cmhvviu0r0009mg0tewhc7x9r	GENERAL_SINGLETON	cmhvv03fz0000mg0tbc7tjpsg	slaut	2025-11-12 10:45:08.091
\.


--
-- Data for Name: RideShare; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RideShare" (id, "posterId", "from", "to", "departAt", seats, note, "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, "createdAt", "updatedAt", email, username, "passwordHash", "displayName", "avatarUrl", department) FROM stdin;
cmhvv03fz0000mg0tbc7tjpsg	2025-11-12 10:30:33.839	2025-11-12 10:30:33.839	T0T0@etu-iut.re	tototo.toto	$2b$12$wkLLY.7lECfytyNaMhFGMu6wxCpkYJXsJLwAex9lKkX6c5qAA1Hmm	TOTOTO TOTO	\N	\N
cmhvvke2k000amg0temozluwd	2025-11-12 10:46:20.732	2025-11-12 10:46:20.732	TATA@etu-iut.re	tata.tatata	$2b$12$WSh/.CalvwN/kNbW4U0Y4eyYr16S9cPF4GOHDFw2HZVrJoMxXOCkW	TATA tatata	\N	\N
\.


--
-- Data for Name: UserClass; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."UserClass" (id, "userId", "classGroupId") FROM stdin;
cmhvv03i50004mg0tlu8kb8hj	cmhvv03fz0000mg0tbc7tjpsg	cmhvv03g90002mg0tsubx3uol
cmhvvke34000emg0tb195p225	cmhvvke2k000amg0temozluwd	cmhvvke2r000cmg0t8thoehec
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
1bb9630a-b13d-4f25-9ce9-daf7ecef0371	05f1dc03617703ae796bf138c88ebc59470732ea62819934b4bbf7d0847dd445	2025-11-12 10:27:22.988306+00	20251010201739_init	\N	\N	2025-11-12 10:27:22.698869+00	1
91c301c8-f14c-4472-8364-6c1da8debae7	970137dd4e0a3ffc9c2dc6a6777d1a221d766a53629a692e32b84192052051ef	2025-11-12 10:27:23.106571+00	20251112051456_canteen_menus_ratings_comments	\N	\N	2025-11-12 10:27:22.996833+00	1
\.


--
-- Name: BoardPost BoardPost_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BoardPost"
    ADD CONSTRAINT "BoardPost_pkey" PRIMARY KEY (id);


--
-- Name: CanteenComment CanteenComment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenComment"
    ADD CONSTRAINT "CanteenComment_pkey" PRIMARY KEY (id);


--
-- Name: CanteenMenu CanteenMenu_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenMenu"
    ADD CONSTRAINT "CanteenMenu_pkey" PRIMARY KEY (id);


--
-- Name: CanteenPost CanteenPost_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenPost"
    ADD CONSTRAINT "CanteenPost_pkey" PRIMARY KEY (id);


--
-- Name: CanteenRating CanteenRating_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenRating"
    ADD CONSTRAINT "CanteenRating_pkey" PRIMARY KEY (id);


--
-- Name: ChatParticipant ChatParticipant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChatParticipant"
    ADD CONSTRAINT "ChatParticipant_pkey" PRIMARY KEY (id);


--
-- Name: Chat Chat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Chat"
    ADD CONSTRAINT "Chat_pkey" PRIMARY KEY (id);


--
-- Name: ClassGroup ClassGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClassGroup"
    ADD CONSTRAINT "ClassGroup_pkey" PRIMARY KEY (id);


--
-- Name: EventInvite EventInvite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventInvite"
    ADD CONSTRAINT "EventInvite_pkey" PRIMARY KEY (id);


--
-- Name: Event Event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_pkey" PRIMARY KEY (id);


--
-- Name: FriendRequest FriendRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FriendRequest"
    ADD CONSTRAINT "FriendRequest_pkey" PRIMARY KEY (id);


--
-- Name: LostFoundItem LostFoundItem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LostFoundItem"
    ADD CONSTRAINT "LostFoundItem_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: RideShare RideShare_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RideShare"
    ADD CONSTRAINT "RideShare_pkey" PRIMARY KEY (id);


--
-- Name: UserClass UserClass_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserClass"
    ADD CONSTRAINT "UserClass_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: CanteenComment_menuId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CanteenComment_menuId_idx" ON public."CanteenComment" USING btree ("menuId");


--
-- Name: CanteenMenu_date_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CanteenMenu_date_key" ON public."CanteenMenu" USING btree (date);


--
-- Name: CanteenRating_menuId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CanteenRating_menuId_idx" ON public."CanteenRating" USING btree ("menuId");


--
-- Name: CanteenRating_menuId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "CanteenRating_menuId_userId_key" ON public."CanteenRating" USING btree ("menuId", "userId");


--
-- Name: ChatParticipant_chatId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ChatParticipant_chatId_userId_key" ON public."ChatParticipant" USING btree ("chatId", "userId");


--
-- Name: ClassGroup_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "ClassGroup_name_key" ON public."ClassGroup" USING btree (name);


--
-- Name: EventInvite_eventId_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "EventInvite_eventId_userId_key" ON public."EventInvite" USING btree ("eventId", "userId");


--
-- Name: FriendRequest_requesterId_addresseeId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "FriendRequest_requesterId_addresseeId_key" ON public."FriendRequest" USING btree ("requesterId", "addresseeId");


--
-- Name: UserClass_userId_classGroupId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserClass_userId_classGroupId_key" ON public."UserClass" USING btree ("userId", "classGroupId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: BoardPost BoardPost_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BoardPost"
    ADD CONSTRAINT "BoardPost_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CanteenComment CanteenComment_menuId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenComment"
    ADD CONSTRAINT "CanteenComment_menuId_fkey" FOREIGN KEY ("menuId") REFERENCES public."CanteenMenu"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CanteenPost CanteenPost_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenPost"
    ADD CONSTRAINT "CanteenPost_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CanteenRating CanteenRating_menuId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CanteenRating"
    ADD CONSTRAINT "CanteenRating_menuId_fkey" FOREIGN KEY ("menuId") REFERENCES public."CanteenMenu"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ChatParticipant ChatParticipant_chatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChatParticipant"
    ADD CONSTRAINT "ChatParticipant_chatId_fkey" FOREIGN KEY ("chatId") REFERENCES public."Chat"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ChatParticipant ChatParticipant_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChatParticipant"
    ADD CONSTRAINT "ChatParticipant_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Chat Chat_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Chat"
    ADD CONSTRAINT "Chat_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."ClassGroup"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EventInvite EventInvite_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventInvite"
    ADD CONSTRAINT "EventInvite_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EventInvite EventInvite_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EventInvite"
    ADD CONSTRAINT "EventInvite_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_creatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_creatorId_fkey" FOREIGN KEY ("creatorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FriendRequest FriendRequest_addresseeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FriendRequest"
    ADD CONSTRAINT "FriendRequest_addresseeId_fkey" FOREIGN KEY ("addresseeId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: FriendRequest FriendRequest_requesterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FriendRequest"
    ADD CONSTRAINT "FriendRequest_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: LostFoundItem LostFoundItem_posterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LostFoundItem"
    ADD CONSTRAINT "LostFoundItem_posterId_fkey" FOREIGN KEY ("posterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_chatId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_chatId_fkey" FOREIGN KEY ("chatId") REFERENCES public."Chat"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RideShare RideShare_posterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RideShare"
    ADD CONSTRAINT "RideShare_posterId_fkey" FOREIGN KEY ("posterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserClass UserClass_classGroupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserClass"
    ADD CONSTRAINT "UserClass_classGroupId_fkey" FOREIGN KEY ("classGroupId") REFERENCES public."ClassGroup"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserClass UserClass_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserClass"
    ADD CONSTRAINT "UserClass_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict Y4YcHsYfp5qAGebO8zfhQUaPcLzwBZfEwplbzzJW3beY57m351ajkx4KPVIcrxl

