services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: iutfam
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  api:
    build:
      context: ./iutfam-api
      dockerfile: Dockerfile
    environment:
      - ALLOWED_EMAIL_DOMAINS=*,iutfam.local,etu-iut.re,univ-reunion.fr,iut.re
      - JWT_SECRET=${JWT_SECRET}
      - DATABASE_URL=${DATABASE_URL}
    env_file:
      - ./iutfam-api/.env   
    depends_on:
      - postgres
    ports:
      - "4000:4000"
      - "5555:5555"
    volumes:
      - ./iutfam-api:/app
      - /app/node_modules

  web:
    build:
      context: ./iutfam-web
      dockerfile: Dockerfile
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:4000
      PORT: 3000
    depends_on:
      - api
    ports:
      - "3000:3000"
    volumes:
      - ./iutfam-web:/app
      - /app/node_modules

volumes:
  pgdata: {}
